body {
    background-color: #86928f; 
    font-family: Arial, sans-serif; 
    }
    
    h2 {
    color: rgb(233, 227, 226); 
    text-align: center; 
    }
    
    p {
    color: rgb(0, 0, 0); 
    font-size: 20px; 
    line-height: 1.5;
    text-align: left;
    }
    
    
    